body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #2b2b2b, #121212);
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #1c1c1c;
}

.header_logo img {
    width: 300px;
    height: auto;
}

.header_burger{
    display: none;
}

.header_burger img {
    width: 100%;  
    height: auto; 
}

.header_nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
}

.header_nav li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header_nav li a:hover {
    background-color: #f0e68c;
    color: black;
}

.education_section {
    padding: 60px 20px;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
}

.school_info, .university_info, .achievement_info {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 40px;
}

.education_img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(240, 230, 140, 0.8);
}

.education_text h2 {
    color: #f0e68c;
    font-size: 40px;
    margin-bottom: 10px;
}

.education_text p {
    font-size: 20px;
    line-height: 1.6;
    color: #e6e6e6;
}

@media(max-width:1250px) {
    .header_logo {
        display: none;
    }
}

@media(max-width:890px) {
    .header_nav{
        display: none;
    }
    .header_logo{
        display: flex;
        width: 200px;
        height: 50px;
    }
    .header_burger{
        display: flex;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .school_info, .university_info, .achievement_info {
        flex-direction: column;
        text-align: center;
    }

    .education_img {
        width: 100%;
    }
}

@media(max-width:480px) {
    .family_text {
        font-size: 28px;
        padding: 0 10px;
    }

    .header_logo {
        display: flex;
        width: 150px;
        height: 40px;
    }
    .header_burger {
        width: 40px;  
        height: auto;
    }    
}
